/* opening animation ---------------------------------------------------------- */

.opening-image {
  width: 25%;
}

/* navbar section ------------------------------------------------------------- */

.logo-mask img {
  width: 10%;
}

.logo-navbar a {
  font-size: calc(1rem + 0.5vw);
}

.about-project {
  padding: 0 5rem;
  gap: 2rem;
}

.about-project h1 {
  font-size: calc(3rem + 0.5vw);
}

.about-project p {
  font-size: calc(1rem + 0.5vw);
}

.about-project p {
  font-size: calc(1rem + 0.5vw);
}

/* home sections ---------------------------------------------------------------- */

.home-grid-container {
  grid-template-columns: 40% 20% 20%;
  grid-template-rows: 50% 50% 50% 50%;
}

/* main home video bg svg text ----------------------------------------------------- */

.svg-text text {
  font-size: 2rem;
  transform: translate(32%, 85%);
}

/* main home thousand sunny img -------------------------------------------------- */

/* main home main title explore card -------------------------------------------------- */

.main-title p {
  font-size: calc(1rem + 0.5vw);
}

.main-button-home a {
  font-size: calc(1rem + 0.5vw);
}

/* main home character menu & showchase card -------------------------------------- */

.character-showchase-button-hyperlink {
  font-size: calc(1rem + 0.5vw);
}

/* grid home controler -------------------------------------------------------- */

.main-title {
  grid-column: 1/5;
  grid-row: 2/3;
}

.explore-showchase-bg {
  grid-column: 1/5;
  grid-row: 2/3;
}

.thousand-sunny {
  grid-column: 1/5;
  grid-row: 4/5;
  padding-bottom: 2rem;
}

.main-video-home {
  grid-column: 1/5;
  grid-row: 1/2;
}

.svg-text {
  grid-column: 1/5;
  grid-row: 1/2;
}

.character-showchase {
  grid-column: 1/5;
  grid-row: 3/4;
  padding-bottom: 0rem;
}

.character-showchase-button {
  grid-column: 1/5;
  grid-row: 3/4;
}

/* about explore html style ------------------------------------------------------------ */

.main-container-about {
  gap: 5rem;
}

/* page 1 -------------------------------- */

.page-1-title-container-about {
  flex-direction: column;
}

.page-1-title-about h1 {
  font-size: calc(4rem + 1vw);
}

.page-1-title-about p {
  font-size: calc(1rem + 0.5vw);
}

/* page 2 -------------------------------- */

.page-2-home-grid {
  grid-template-rows: none;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
}

.page-2-image-title-container h1,
.page-2-image-title-container-2 h1 {
  font-size: calc(4rem + 1vw);
}

.page-2-image-title-container p,
.page-2-image-title-container-2 p {
  font-size: calc(1rem + 0.5vw);
}

.page-2-image-1 {
  grid-column: 1/4;
  grid-row: 1/2;
}

.page-2-image-2 {
  display: none;
  grid-column: 2/4;
}

.page-2-image-3 {
  grid-column: 1/4;
}

.page-2-image-title {
  grid-column: 1/4;
}

.page-2-image-title-2 {
  grid-column: 1/2;
  display: none;
}

.page-2-image-4 {
  grid-column: 1/4;
}

/* page 3 -------------------------------- */

.page-3-home-grid {
  grid-template-rows: none;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
}

.page-3-image-title-container h1 {
  font-size: calc(4rem + 1vw);
}

.page-3-image-title-container p {
  font-size: calc(1rem + 0.5vw);
}

.page-3-image-title {
  grid-column: 1/5;
}

.page-3-image-1 {
  grid-column: 1/2;
  grid-row: 2/4;
  display: none;
}

.page-3-image-2 {
  display: none;
  grid-column: 2/3;
}

.page-3-image-3 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.page-3-image-4 {
  grid-column: 1/5;
}

.page-3-image-5 {
  grid-column: 1/5;
}

.page-3-image-6 {
  grid-column: 2/5;
  display: none;
}

/* page 4 -------------------------------- */

.page-4-title-about {
  bottom: 10rem;
}

.page-4-title-about h1 {
  font-size: calc(5rem + 1vw);
}

.page-4-title-about p {
  font-size: calc(1rem + 1vw);
}

.page-4-title-button-about h6 {
  font-size: calc(1rem + 0.5vw);
}

/* CHARACTER SHOWCHASE HTML SECTION  ------------------------------------------*/

/* arrow  ------------------------------------------*/

.arrow-left-img-showchase,
.arrow-right-img-showchase {
  width: 30%;
}

/* home sections */

#home-showchase {
  width: auto;
  height: 100vh;
}

.logo-title-showchase h5,
.navbar-showchase h5 {
  font-size: calc(1rem + 0.5vw);
}

.home-grid-container-showchase {
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 5% 40% 29% 20%;
}

.main-title-showchase h1 {
  font-size: calc(3rem + 1vw);
}

.main-title-showchase p {
  font-size: calc(0.8rem + 0.5vw);
}

.bounty-poster-img-showchase {
  width: 30%;
}

.bounty-poster-description-showchase h1 {
  font-size: calc(2rem + 1vw);
}

.bounty-poster-description-showchase p {
  font-size: calc(2rem + 0.5vw);
}

/* grid control position --------------------------------------------------------------- */

.logo-title-showchase {
  display: none;
  grid-column: 1/2;
  grid-row: 1/2;
}

.arrow-left-showchase {
  grid-column: 1/2;
  grid-row: 1/2;
}

.arrow-right-showchase {
  grid-column: 2/3;
  grid-row: 1/2;
}

.navbar-showchase {
  grid-column: 3/5;
  grid-row: 1/2;
}

.main-image-showchase {
  grid-column: 1/5;
  grid-row: 3/4;
}

.main-video-showchase {
  grid-column: 1/5;
  grid-row: 2/3;
}

.main-title-showchase {
  grid-column: 1/5;
  grid-row: 2/3;
  z-index: 10;
}

.bounty-poster-showchase {
  grid-column: 1/5;
  grid-row: 4/5;
}

.about-me-showchase {
  display: none;
}

.pirates-flag-showchase {
  display: none;
}
