@media (max-width: 720px) {
  .logo-mask img {
    width: 10%;
  }

  .about-project {
    width: 100vw;
    height: 100vh;
    padding: 0 5rem;
  }

  .about-project h1 {
    font-size: calc(2rem + 0.5vw);
  }

  .about-project p {
    font-size: calc(1rem + 0.5vw);
  }

  /* home sections ---------------------------------------------------------------- */

  .main-title h1 {
    font-size: calc(8rem + 0.5vw);
  }

  .main-title p {
    padding: 0 2rem;
  }

  /* CHARACTER SHOWCHASE HTML SECTION  ------------------------------------------*/

  .main-title-showchase h5 {
    font-size: calc(1.7rem + 0.5vw);
  }

  .home-grid-container-showchase {
    margin: 10rem auto;
  }

  /* wrap all css SETTING GSAP ------------------------------------------ */

  .page-1-title-about h1,
  .page-2-image-title h1,
  .page-2-image-title-2 h1,
  .page-3-image-title h1,
  .page-4-title-about h1,
  .main-title-showchase h1 {
    font-size: calc(3rem + 1vw);
  }

  .main-button-home a,
  .logo-navbar a,
  .main-title p,
  .page-1-title-about p,
  .page-2-image-title p,
  .page-2-image-title-2 p,
  .page-3-image-title p,
  .page-4-title-about p,
  .page-4-title-button-about h6,
  .main-title-showchase p {
    font-size: calc(1rem + 0.5vw);
    line-height: 2rem;
  }

  .main-title-showchase h1 {
    font-size: calc(6rem + 1vw);
  }
}
