@media (max-width: 1024px) {
  .logo-mask img {
    width: 8%;
  }

  .about-project h1 {
    font-size: calc(5rem + 0.5vw);
  }

  .about-project p {
    font-size: calc(1.5rem + 0.5vw);
  }

  /* video background ---------------------------------------------------------- */

  .video-background-character,
  .video-background-mask-character {
    height: auto;
  }

  /* home sections ---------------------------------------------------------------- */

  .main-title h1 {
    font-size: calc(9rem + 0.5vw);
  }

  .main-title p {
    padding: 0 5rem;
  }

  /* grid controller page 1 ------------------------------------------*/

  .page-1-title-about {
    grid-column: 1/5;
  }

  .page-2-image-1 {
    grid-column: 1/5;
  }
  .page-2-image-2 {
    grid-column: 1/5;
  }

  .page-2-image-title {
    grid-column: 1/5;
  }

  .page-2-image-title-2 {
    grid-column: 1/5;
  }

  .page-2-image-3 {
    grid-column: 1/5;
  }

  .page-3-image-title {
    grid-column: 1/5;
  }

  .page-3-image-1 {
    grid-column: 1/5;
  }

  .page-3-image-2 {
    grid-column: 1/5;
  }

  .page-4-img-about {
    grid-column: 1/5;
  }

  .page-4-title-about {
    grid-column: 1/5;
  }

  /* CHARACTER SHOWCHASE HTML SECTION  ------------------------------------------*/

  .arrow-left-img-showchase,
  .arrow-right-img-showchase {
    width: 15%;
  }

  .main-title-showchase h5 {
    font-size: calc(2rem + 0.5vw);
    line-height: 3rem;
  }

  .main-title-showchase {
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

  .home-grid-container-showchase {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin: 15rem auto;
  }

  /* grid control position --------------------------------------------------------------- */

  .main-video-showchase {
    grid-column: 1/5;
    grid-row: 1/1;
  }

  .main-title-showchase {
    grid-column: 1/5;
  }

  .arrow-left-showchase {
    grid-column: 1/3;
  }

  .arrow-right-showchase {
    grid-column: 3/5;
  }
  /* wrap all css SETTING GSAP ------------------------------------------ */

  .page-1-title-about h1,
  .page-2-image-title h1,
  .page-2-image-title-2 h1,
  .page-3-image-title h1,
  .page-4-title-about h1,
  .main-title-showchase h1 {
    font-size: calc(5rem + 1vw);
  }

  .main-button-home a,
  .logo-navbar a,
  .main-title p,
  .page-1-title-about p,
  .page-2-image-title p,
  .page-2-image-title-2 p,
  .page-3-image-title p,
  .page-4-title-about p,
  .page-4-title-button-about h6,
  .main-title-showchase p {
    font-size: calc(1.5rem + 0.5vw);
    line-height: 3rem;
  }
}
